pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "val",
					"value": {
						"value": "@concat('This is first ',pipeline().DataFactory,' welcome ',pipeline().parameters.par)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('numbers')",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(item(),3)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "newnumber",
								"value": {
									"value": "@string(item())",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"par": {
				"type": "string"
			}
		},
		"variables": {
			"val": {
				"type": "String"
			},
			"numbers": {
				"type": "Array",
				"defaultValue": [
					1,
					2,
					3,
					4,
					5,
					6
				]
			},
			"newnumber": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-07-17T16:55:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}