pipeline/PL_ADLS_SQL.json
{
	"name": "PL_ADLS_SQL",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select *, 'test' as newschema from importconfi where Isenabled = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLCON_GENERIC",
						"type": "DatasetReference",
						"parameters": {
							"connectionsecret": "adfdemo-sqlconnection",
							"schemaname": "dbo",
							"tablename": "menu"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Get Metadata1",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_ADLS_GENERIC",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@item().container",
											"type": "Expression"
										},
										"folder": {
											"value": "@item().folder",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().filename1",
											"type": "Expression"
										},
										"adls_url": "https://adlsadfdemosa.dfs.core.windows.net",
										"secretaccesskey": "adlsaccesskey"
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('Get Metadata1').output.exists",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Append variable1",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "tableextracted",
											"value": {
												"value": "@concat(item().container,'/',item().folder,'/',item().filename1)",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "AzureSqlSink",
												"preCopyScript": {
													"value": "@{concat('Truncate table ',item().newschema,'.',item().tablename)}",
													"type": "Expression"
												},
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false,
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_ADLS_GENERIC",
												"type": "DatasetReference",
												"parameters": {
													"Container": {
														"value": "@item().container",
														"type": "Expression"
													},
													"folder": {
														"value": "@item().folder",
														"type": "Expression"
													},
													"filename": {
														"value": "@item().filename1",
														"type": "Expression"
													},
													"adls_url": "https://adlsadfdemosa.dfs.core.windows.net",
													"secretaccesskey": "adlsaccesskey"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_SQLCON_GENERIC",
												"type": "DatasetReference",
												"parameters": {
													"connectionsecret": "adfdemo-sqlconnection",
													"schemaname": {
														"value": "@item().newschema",
														"type": "Expression"
													},
													"tablename": {
														"value": "@item().tablename",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"tableextracted": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}